[Unit]
Description=Gunicorn instance to serve your_project
After=network.target

[Service]
User=your_user
Group=nginx
WorkingDirectory=/home/bark
Environment="PATH=/home/bark/bark_env/bin"
ExecStart=/home/bark/bark_env/bin/gunicorn --workers 3 --bind 0.0.0.0:5020 -m 007 app:app

[Install]
WantedBy=multi-user.target